*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  color: white;
  background-color: darkgrey;
}

.banner{
  height: 700px;
  background: url(resources/images/banner.jpg) top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}
.banner-heading{
  text-transform: uppercase;
}


