*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  color: white;
  background-color: #862E2E;
  font-family: 'Neuton', serif;
}
.banner{
  height: 635px;
  background: url(resources/images/banner.jpg) top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 10em;
}
h1.banner-heading{
  text-transform: uppercase;
  text-align: center;
  font-size: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 64px;
  font-family: 'Neuton', serif;
}
p.banner-text{
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 40px;
  line-height: 70px;
}

.job{
	width:5%;
	font-size: 1.5em;
}
.description{
	display:none;
	padding:2%;
	font-size: 1.5em;
}

.job{
	padding-left:2%;
	font-size: 2em;
  line-height: 1.5em;
	text-transform:uppercase;
	margin:0;
	width: 20%;
}

section{
	border-bottom:2px solid white;
}

.salary{
	float:right;
	font-size: 2em;
	margin:0;
	width:20%;
}

@media screen and (max-width: 815px){
  .banner{
    height: 450px;
    padding-top: 2em;
  }
  h1.banner-heading{
    font-size: 50px;
    margin-bottom: 40px;
  }
  p.banner-text{
    font-size: 2em;
    line-height: 1.5em;
  }
  .job{
    line-height: 2.5em;
    font-size: 1.5em;
  }
  .salary{
    line-height: 2.5em;
    font-size: 1.5em;
  }
}
@media screen and (max-width: 523px){
  .job{
    line-height: 2.5em;
    font-size: 1.1em;
  }
  .salary{
    line-height: 2.5em;
    font-size: 1.1em;
  }
  .description{
    font-size: 1em;
  }
}
